body {
    background-color: white;
    font-family: "Rajdhani", sans-serif;
    text-align: center;
}

h1 {
    font-size: xxx-large;
}

p {
    font-size: xx-large;
}

#userinput {
    width: 40%;
    height: 40px;
    font-size: x-large;
    font-family: "Rajdhani", sans-serif;
}

#button {
    height: 40px;
    font-size: large;
    font-family: "Rajdhani", sans-serif;
    text-transform: capitalize;
}

#response {
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

.fortune-image {
    width: 50%;
    height: 50%;
}

.answer-div {
    margin: auto;
    margin-top: 10px;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    background: radial-gradient(circle at 100px 100px, #f6f7f8, rgb(165, 160, 160));
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 500px) {

    #userinput {
        width: 70%;
        height: 30px;
        font-size: large;
    }

    #button {
        height: 30px;
        font-size: large;
    }

    .answer-div {
        width: 350px;
        height: 350px;
    }

    #response {
        font-size: large;
    }
}
