body {
    background-color: white;
    font-family: "Rajdhani", sans-serif;
    text-align: center;
}

#response {
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

.fortune-image {
    width: 50%;
    height: 50%;
}

.answer-div {
    margin: auto;
    margin-top: 10px;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    background: radial-gradient(circle at 100px 100px, #f6f7f8, rgb(165, 160, 160));
    display: flex;
    align-items: center;
    justify-content: center;


}